.slogin {
  position: fixed;
  top: 0;
  width: 100%;
}
.slogin p {
  grid-area: login;
  text-align: right;
  margin: 0;
  margin-top: 1%;
  padding-bottom: 3.2%;
  color: #908b8b;
  padding-right: 1%;
}
/* iphone X */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-device-pixel-ratio: 3) {
  .slogin p {
    grid-area: login;
    text-align: right;
    border-bottom: 0;
  }
}

/* iphone 6/7/8 */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
  .slogin p {
    grid-area: login;
    text-align: right;
    border-bottom: 0;
  }
}
/* iphone 5 */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .slogin p {
    grid-area: login;
    text-align: right;
    border-bottom: 0;
  }
}
/* ipad */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
  .slogin p {
    grid-area: login;
    text-align: right;
    border-bottom: 0;
  }
}
