main {
  background-color: #f9ffff;
  text-align: center;
  color: #373940;
  font-family: "Quattrocento Sans", sans-serif;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-around;
}

h2 {
  font-variant: small-caps;
  font-size: 2.5em;
  font-family: "Monoton", cursive;
  font-weight: lighter;
  margin-top: 0;
  margin-bottom: 1%;
}
.sort {
  font-family: "Righteous", cursive;
  text-align: right;
  background-color: #f9ffff;
  cursor: pointer;
  padding-left: 50%;
}

.sort option {
  font-family: "Righteous", cursive;
  font-size: 1em;
}
.sort option:hover {
  background-color: #cd4303;
}

button {
  border: none;
  background-color: #f9ffff;
  cursor: pointer;
  color: #373940;
  font-family: "Quattrocento Sans", sans-serif;
  font-weight: 800;
  font-size: 1em;

  border-radius: 25%;
}
button:hover {
  transform: scale(1.1);
  transition: 1s;
}
.articleList {
  overflow-y: scroll;
}
.articlesList h3 {
  font-weight: 900;
  font-family: "Dosis", sans-serif;
  font-size: 1.3em;
  border-top: solid 0.5px #a1a4b2;
}

#articleLink {
  text-align: center;
  color: #373940;
  text-decoration: none;
}
#articleLink:visited {
  color: #cd4303;
}

#articleLink:hover {
  color: #a1a4b2;
}

.articleList p {
  font-weight: lighter;
  font-family: "Lato", sans-serif;
  font-style: oblique;
  float: inherit;
}

.singleArticle {
  background-color: #f9ffff;
  text-align: center;
  color: #373940;
  font-family: "Quattrocento Sans", sans-serif;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.singleArticle h4 {
  margin: 0.5%;
}

.singleArticle p {
  text-align: justify;
  text-indent: 25px;
  line-height: 1.5em;
  font-size: 1.3em;
  margin: 0;
}
#loading {
  font-size: 1.3em;
  color: #373940;
  font-family: "Quattrocento Sans", sans-serif;
}

h6 {
  margin: 0;
  font-size: 1em;
  text-align: left;
}

.votesA {
  display: grid;
  grid-template-columns: 100px auto;
  transform: scale(1.1);
  transition: 1s;
  border: solid 0.5px #a1a4b2;
}

.votesC {
  display: grid;
  grid-template-columns: 50px;
  transform: scale(1.1);
  transition: 1s;
  border: solid 0.5px #a1a4b2;
}

/* iphone X */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-device-pixel-ratio: 3) {
  main {
    font-size: 175%;
  }
  .sort select {
    max-width: 35%;
  }
  .singleArticle h2 {
    font-size: 150%;
  }
  .singleBody {
    text-align: justify;
    /* margin-left: 5%;
    margin-right: 5%; */
  }
  .votesA {
    display: grid;
    grid-template-columns: 4%;
    transform: 0;
    transition: 0s;
  }

  .votesC {
    display: grid;
    grid-template-columns: 4%;
    transform: 0;
    transition: 0s;
  }
}
/* iphone 6/7/8 */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
  main {
    font-size: 75%;
  }
  .sort select {
    max-width: 35%;
  }
  .singleArticle h2 {
    font-size: 150%;
  }
  .singleBody {
    text-align: justify;
    /* margin-left: 5%;
    margin-right: 5%; */
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  main {
    font-size: 75%;
  }
  .sort select {
    max-width: 35%;
  }
  .singleArticle h2 {
    font-size: 150%;
  }
  .singleBody {
    text-align: justify;
    /* margin-left: 5%;
    margin-right: 5%; */
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
  main {
    font-size: 75%;
  }
  .sort select {
    max-width: 35%;
  }
  .singleArticle h2 {
    font-size: 150%;
  }
  .singleBody {
    text-align: justify;
    /* margin-left: 5%;
    margin-right: 5%; */
  }
}
