main {
  background-color: #f9ffff;
  text-align: center;
  color: #373940;
  font-family: "Quattrocento Sans", sans-serif;
}

main ul {
  list-style: none;
  overflow-y: scroll;
}

main ul li:hover {
  cursor: pointer;
  color: #a1a4b2;
  transition: 1s;
}
