.menu {
  grid-area: menu;
  text-align: center;
  margin: 0;
  padding-left: 3%;
}
.link {
  color: #373940;
  font-family: "Quattrocento Sans", sans-serif;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  margin-top: 0;
  padding-top: 1.5%;
  font-size: 2em;
  text-decoration: none;
}

.link:hover {
  color: #a1a4b2;
  margin: 0;
  transform: scale(1.1);
  transition: 0.8s;
}

.link {
  float: left;
  color: #373940;
  padding-right: 3%;
  margin-right: 2%;
  text-transform: capitalize;
}

/* IphoneX */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-device-pixel-ratio: 3) {
  .menu {
    font-size: 50%;
  }
}

/* Iphone 6/7/8 */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
  .menu {
    font-size: 50%;
  }
}
