.header h1 {
  font-family: "Quattrocento Sans", sans-serif;
  grid-area: header;
  color: #cd4303;
  font-size: 4em;
  text-align: left;
  margin: 0;
  border-bottom: solid 0.5px #cd4303;
  padding-left: 3%;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-device-pixel-ratio: 3) {
  .header h1 {
    grid-area: header;
    font-size: 150%;
    margin-top: 1%;
    border-bottom: 0;
  }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
  .header h1 {
    grid-area: header;
    font-size: 150%;
    margin-top: 1%;
    border-bottom: 0;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .header h1 {
    grid-area: header;
    font-size: 155%;
    margin-top: 1%;
    border-bottom: 0;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
  .header h1 {
    grid-area: header;
    font-size: 150%;
    margin-top: 1%;
    border-bottom: 0;
  }
}
