/* .search {
  grid-area: search;
  margin: auto 0;
  padding-left: 25%;
}
.search input {
  width: 300px;
  height: 50px;
  background: #fff;
  border: none;
  /* border: solid 0.5px #362c36; */
  font-size: 1em;
  font-family: "Quattrocento Sans", sans-serif;
  font-weight: 800;
  color: #362c36;
  padding-left: 15px;
  margin-right: 1%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.search input:hover {
  cursor: pointer;
  background-color: #a7b8bd94;
  transition: ease-in 0.4s;
}

.search input::placeholder {
  color: #29170f;
  font-style: italic;
  font-family: "Quattrocento Sans", sans-serif;
  font-size: 1em;
  font-weight: 800;
}

.search button {
  background-color: #f9ffff;
  margin: 10px auto;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  padding-left: 0.5%;
}

.search button:hover {
  cursor: pointer;
  background-color: #dfd9d9cc;
  transition: ease-in 0.4s;
}
/* iphone X */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-device-pixel-ratio: 3) {
  .search input {
    grid-area: search;
    min-width: 40%;
    max-width: 50%;
  }
  .searh button {
    min-width: 3%;
    max-width: 6%;
  }
}
/* iphone 6/7/8 */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
  .search input {
    grid-area: search;
    min-width: 40%;
    max-width: 50%;
  }
  .searh button {
    min-width: 3%;
    max-width: 6%;
  }
} */
