.comments {
  background-color: #f9ffff;
  text-align: justify;
  color: #373940;
  font-family: "Quattrocento Sans", sans-serif;
  padding-left: 0%;
  margin-left: 0%;
  margin-right: 1%;
  font-size: 0.8em;
  border-top: solid 0.5px #a1a4b2;
}

.comments h4 {
  margin: 0.5%;
}
.comments span {
  color: #a1a4b2;
}

.comments p {
  text-indent: 25px;
  text-align: justify;
  font-weight: lighter;
  font-family: "Lato", sans-serif;
  font-style: oblique;
  margin: 0.5%;
}

.comments h5 {
  text-align: left;
  margin-left: 1%;
}

.comments h6 {
  color: #626369;
  text-align: right;
  margin: 0;
}

label {
  color: #373940;
  font-family: "Quattrocento Sans", sans-serif;
  font-size: 1.3em;
}
#comment {
  height: 2em;
  width: 25em;
  cursor: pointer;
  font-family: "Quattrocento Sans", sans-serif;
  font-size: 1.2em;
}

#post {
  font-size: 1.3em;
  font-family: "Quattrocento Sans", sans-serif;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-device-pixel-ratio: 3) {
  .comments {
    max-width: 50%;
  }
}
/* iphone 6/7/8 */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
  #id {
    max-width: 20%;
  }
}
