:root {
  margin-left: 0.5%;
}

.App {
  background-color: #f9ffff;
  text-align: center;
  height: 98vh;
  width: 99vw;
  display: grid;
  grid-template-columns: 2fr 4fr;
  grid-template-rows: 0.5fr 0.5fr 5.7fr 0.3fr;
  grid-template-areas: "header login" "menu search" "results results" "footer footer";
  color: #e3e3e3;
}

.results {
  grid-area: results;
}
